<h2 mat-dialog-title>Describe new character</h2>
<mat-dialog-content>
  <form [formGroup]="editCharacterForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="Alive">Alive</mat-option>
        <mat-option value="Dead">Dead</mat-option>
        <mat-option value="unknown">unknown</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Origin</mat-label>
      <input matInput formControlName="origin" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Species</mat-label>
      <input matInput formControlName="species" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Image Url</mat-label>
      <input matInput formControlName="image" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
  <button mat-raised-button (click)="onSubmit()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>